body{
    margin: 0;
    padding: 0;
}

.container{
    background-color:#d4dd81;
    height: 100vh;
    width: 100%;
    text-align: center;
    color:darkslategray;
    border: 2px solid gray;
    
    
}

.heading{
    font-size: 45px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 6px;
}

.joke{
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
    color: rgb(82, 55, 202);
}

.btn{
    font-size: 25px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    margin-left:0px;
    background-color:rgb(92, 133, 199);
    border-color: rgba(255, 255, 255, .6);
    text-transform:lowercase;
    
    color: black;
    border-radius: 30%;
}
.btn:hover{
    background-color:rgb(209, 195, 195);
    transition: all .4s ease;
}

.category{
    background-color:rgb(79, 112, 173);
    padding: 1rem;
    margin-left:0;
    border-radius: 30px;
    width: 250px;
    text-align: center;
    font-size: 17px;
    color:black;
    font-weight: 500;
    cursor: pointer;
}

.category option{
    background-color: rgb(128, 177, 80);
    border-radius: 4rem;
}

.category option:checked{
    background-color: rgb(121, 222, 177);
}


